body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #120b21;
}

#mainName {
    font-size: 1.2rem;
    color: #ffff;
}

.Seeds a {
    color: #ffff;
    text-decoration: none;
}

#mainStats {
    position: absolute;
    top: 65%;
    left: 45%;
}

/*-----------This is resposible for their positioning, mother--------------*/
.allStats {
    position: absolute;
    top: 200%;
}

.allEducation {
    position: absolute;
    top: 300%;
}

.allSkills {
    position: absolute;
    top: 400%;
}

.allAboutMe {
    position: absolute;
    top: 500%;
}


/*-------------This is the Stats-----------*/
.stats {
    color: #ffff;
}

.myStats p {
    color: #ffff;
}

/*-------------This is the Education----------------*/

#mainEducation {
    position: absolute;
    top: 65%;
    left: 55%;
}

.education {
    color: #ffff;
}

.myEduc {
    color: #ffff;
}

.myEducTable {
    color: #ffff;
}

/*----------------This is the Skills------------------*/
#mainSkills {
    position: absolute;
    top: 80%;
    left: 45%;
}

.skills {
    color: #ffff;
}
.mySkills {
    color: #ffff;
}

.progEssentials {
    color: #ffff;
}

.linuxExp {
    color: #ffff;
}

.linuxDis {
    color: #ffff;
}

/*--------------------This is the About Me--------------------*/
#mainAboutMe {
    position: absolute;
    top: 80%;
    left: 55%;
}

.aboutMe {
    color: #ffff;
}

.myAboutme {
    color: #ffff;
}

.contact {
    color: #ffff;
}