body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #120b21;
    background-image: url(./assets/Main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

.mainClass {
    background-image: url(./assets/Main.png);
}

#mainId {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

#mainName {
    font-size: 1.2rem;
    color: #ffff;
}

.Seeds a {
    color: #ffff;
    text-decoration: none;
}


/*-----------This is resposible for their positioning, mother--------------*/
#mainStats {
    position: absolute;
    top: 65%;
    left: 45%;
}

.allStats {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.allEducation {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.allSkills {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.allAboutMe {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


/*-------------This is the Stats-----------*/
#idAllStats {
    background-image: url(./assets/MainBranch1.png);
}

.stats {
    color: #ffff;
}

.myStats p {
    color: #ffff;
}

/*-------------This is the Education----------------*/

#mainEducation {
    position: absolute;
    top: 65%;
    left: 55%;
}

.education {
    color: #ffff;
}

.myEduc {
    color: #ffff;
}

.myEducTable {
    color: #ffff;
}

#idAllEducation {
    background-image: url(./assets/MainBranch2.png);
}

/*----------------This is the Skills------------------*/
#mainSkills {
    position: absolute;
    top: 80%;
    left: 45%;
}

.skills {
    color: #ffff;
}
.mySkills {
    color: #ffff;
}

.progEssentials {
    color: #ffff;
}

.linuxExp {
    color: #ffff;
}

.linuxDis {
    color: #ffff;
}

#idAllSkills {
    background-image: url(./assets/MainBranch3.png);
}
/*--------------------This is the About Me--------------------*/
#mainAboutMe {
    position: absolute;
    top: 80%;
    left: 55%;
}

.aboutMe {
    color: #ffff;
}

.myAboutme {
    color: #ffff;
}

.contact {
    color: #ffff;
}

#idAllAboutMe {
    background-image: url(./assets/MainBranch4.png);
}