body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #120b21;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/*--------------animations---------------------*/
.fade-out-screen {
    opacity: 0 !important;
    visibility: hidden !important;
}

html {
    scroll-behavior: smooth;
    background-color: #120b21;
}

.mainClass {
    min-height: 100vh;
}



#mainId {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background-image: url(./assets/Main.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#mainName {
    color: #fff;
    font-size: 4rem;
    position: absolute;
    top: -5%;
    left: 2%;
}

.Seeds a {
    color: #fff;
    text-decoration: none;
}


/*-----------This is resposible for their positioning, mother--------------*/


.allStats {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.allEducation {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.allSkills {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.allAboutMe {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


/*-------------This is the Stats-----------*/
#mainStats {
    position: absolute;
    top: 23%;
    left: 40%;
}

#idAllStats {
    background-image: url(./assets/MainBranch3.png);
}

.stats {
    color: #fff;
}

.myStats p {
    color: #fff;
}

/*-------------This is the Education----------------*/

#mainEducation {
    position: absolute;
    top: 21%;
    left: 53%;
}

.education {
    color: #fff;
}

.myEduc {
    color: #fff;
}

.myEducTable {
    color: #fff;
}

#idAllEducation {
    background-image: url(./assets/MainBranch2.png);
}

/*----------------This is the Skills------------------*/
#mainSkills {
    position: absolute;
    top: 48%;
    left: 32%;
}

.skills {
    color: #fff;
}
.mySkills {
    color: #fff;
}

.progEssentials {
    color: #fff;
}

.linuxExp {
    color: #fff;
}

.linuxDis {
    color: #fff;
}

#idAllSkills {
    background-image: url(./assets/MainBranch4.png);
}
/*--------------------This is the About Me--------------------*/
#mainAboutMe {
    position: absolute;
    top: 42%;
    left: 58%;
}

.aboutMe {
    color: #fff;
}

.myAboutme {
    color: #fff;
}

.contact {
    color: #fff;
}

#idAllAboutMe {
    background-image: url(./assets/MainBranch1.png);
}

#mainName h1,
.stats h1,
.education h1,
.skills h1,
.aboutMe h1 {
    margin: 0;
    padding-top: 40px;
}

body, h1 {
    margin: 0;
    padding: 0;
}